@model WordViewModel



<div>
    <h1>Words from database</h1>
    <p>Those records are loaded from database.</p>
<div>
    <table class="table">
        <thead>
            <tr>
                    <th scope="col">#</th>
                    <th scope="col">English</th>
                    <th scope="col">Spanish</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Lexical</th>
                    <th scope="col">X Correct</th>
                    <th scope="col">X Incorrect</th>
                    <th scope="col">X Trained</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Restart Progress</th>
            </tr>
        </thead>
                        
                    
        <tbody>
                @{
                    foreach(var word in Model.WordsView)
                    {
                        string tableBackgroudClass;
                        if (word.CorrectAnswers >= Model.TimesCorrectForLearning) tableBackgroudClass = "bg-success";
                        else tableBackgroudClass = "bg-warning";
                        <tr>
                                <th scope="row">-</th>
                                <td><p>@word.English</p></td>
                            <td>@word.Spanish</td>
                            <td>@word.GenderName</td>
                            <td>@word.LexicalName</td>
                            <td class="@tableBackgroudClass">@word.CorrectAnswers</td>
                            <td>@word.IncorrectAnswers</td>
                            <td>@(word.CorrectAnswers + word.IncorrectAnswers)</td>
                                <td>
                                    <form asp-controller="Word" asp-action="Edit" asp-route-id="@word.WordId" method="GET">
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </form>
                                </td>
                                <td>
                                <button onclick="deleteOneWord(@word.WordId)" class="btn btn-primary">Delete</button>
                                </td>
                                <td>
                                    <!--KLADUIA please help: Nie wiem jak zrobić żeby ajax odświeżył widok po kliknięciu w przycisk-->
                                <button onclick="resetProgressForOneWord(@word.WordId)" class="btn btn-primary">Reset Progress</button>
                                </td>
                        </tr>
                    }
                   
                    <form id="restart-progress-for-all-words-form" onsubmit="resetProgressForAllAction(event)" asp-controller="Word" asp-action="RestartProgressForAllWords" method="GET">
                        <button type="submit" class="btn btn-primary position-relative top-0 start-50">Reset Progress For All Words</button>
                    </form>
                   @section scripts {
                        <script type="text/javascript">
                            function resetProgressForAllAction(e) {
                                e.preventDefault();
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'This will reset progress for ALL words, do you want to continue?',
                                    icon: 'question',
                                    showCancelButton: true
                                }).then(result => {
                                    if (result.isConfirmed) {
                                        const restartForm = document.getElementById('restart-progress-for-all-words-form');
                                        restartForm.submit();
                                    }
                                })
                            }
                            
                            function deleteWordAction(e, idNumber) {
                                e.preventDefault();
                                Swal.fire({
                                    title: 'Do you want to delete this word?',
                                    icon: 'question',
                                    showCancelButton: true
                                }).then(result => {
                                    if (result.isConfirmed) {
                                        const deleteWordForm = document.getElementById(`delete-word-form-${idNumber}`);
                                        deleteWordForm.submit();
                                    }
                                })
                            }

                            function deleteOneWord(wordId) {
                                Swal.fire({
                                    title: 'Do you want to delete this word?',
                                    icon: 'question',
                                    showCancelButton: true
                                }).then(result => {
                                    if (result.isConfirmed) {
                                        $.ajax({
                                            url: "@Url.Action("Delete", "Word")",
                                            type: 'GET',
                                            data: {
                                                id: wordId
                                            },
                                            success: function (res) {
                                                console.log('Deleted one word.');
                                                location.reload();
                                            }
                                        });
                                    }
                                })
                            }

                            function resetProgressForOneWord(wordId) {
                                Swal.fire({
                                    title: 'Do you want to reset progress for this word?',
                                    icon: 'question',
                                    showCancelButton: true
                                }).then(result => {
                                    if (result.isConfirmed) {
                                        $.ajax({
                                            url: "@Url.Action("RestartProgressForOneWord", "Word")",
                                            type: 'GET',
                                            data: {
                                                id: wordId
                                            },
                                            success: function (res) {
                                                console.log('Progress for one word resetted.');
                                                location.reload();
                                            }
                                        });
                                    }
                                })
                            }
                        </script>
                   }
                }                
        </tbody>
    </table>
</div>
