@model StudyViewModel

<h2 class="alert-heading">@Model.RandomWord.English</h2>

<form method="post">
    <div class="form-group">
        @for (int i = 0; i < Model.IndexesOfWordsAnswered.Count(); i++) 
        {
            <input hidden asp-for="@Model.IndexesOfWordsAnswered[i]" />
        }
        <input hidden asp-for="@Model.RandomWord.Id" />                 
        <input hidden asp-for="@Model.RandomWord.Spanish" />
        <input hidden asp-for="@Model.RandomWord.English" />
       
        <label asp-for="@Model.Answer">Translate @Model.RandomWord.English to Spanish:</label>
        <input asp-for="@Model.Answer" autofocus value="">
    </div>
    <button type="submit">Check answer</button>
    
</form>

<a asp-controller="Home" asp-action="Index"><button class="btn btn-primary">Cancel study session.</button></a>

<script type="text/javascript">
    debugger;
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
    const isFirstQuestion = '@Html.Raw(Json.Serialize(Model.IsFirstQuestion))'
    const wasLastAnswerCorrect = '@Html.Raw(Json.Serialize(Model.WasLastAnswerCorrect))';
    if(isFirstQuestion == 'false'){
        if (wasLastAnswerCorrect == 'true') {
            toastr["success"]("Correct answer!", "Congratulations!");
        } else {
            toastr["error"]("Incorrect answer!", "Try again!");
        }
    }
</script>
