@model StatsViewModel

<h1>Statistics</h1>
<br /> <br />

@{
    <h3>Total words: @Model.TotalWords</h3>
    <h3 class="text-success">Learnt words: @Model.LearntWords</h3>
    <h3 class="text-danger">Not learnt words: @Model.NotLearntWords</h3>
    <h3>Harderst word to learn: @Model.HardestWordToLearn.English</h3>
    <h3>Average time to learn a word: @Model.AverageTimeForLearningPerWord</h3>
    <h3>Average questions per word ratio: @Model.AverageQuestionCountPerWord</h3>
}
