@model WordViewModel

<div>
    <h1>Words from database</h1>
    <p>Those records are loaded from database.</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"><p>English</p></th>
                <th scope="col">Spanish</th>
                <th scope="col">Gender</th>
                <th scope="col">Lexical Cat</th>
                <th scope="col">User</th>
                <th scope="col">Times Trained</th>
                    <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            
                

                @{
                    for (int i = 0; i < Model.Words.Count(); i++)
                    {
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td><p>@Model.Words[i].English</p></td>
                        <td>@Model.Words[i].Spanish</td>
                        <td>@Model.Words[i].GrammaticalGender?.Name</td>
                        <td>@Model.Words[i].LexicalCategory?.Name</td> 
                        <td>@Model.Words[i].User.Login</td>
                        <td>@Model.Words[i].Statistic.TimesTrained</td>
                        <td><a asp-controller="Add" asp-action="Edit" asp-route-id="@Model.Words[i].Id">Edit</a></td>
                    </tr>
                    }
                    
                }
               
           
        </tbody>
    </table>
</div>
